html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #6e7d96;
    height: 100%;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.horizontal {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}
.click, .upgrades {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.click {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.click * {
    margin: auto;
}
#clicker {
    background: none;
    border: none;
    cursor: pointer;
    background-image: url(./pen.webp);
    background-size: cover;
    background-position: center center;
    aspect-ratio: 3/10;
    height: 50%;
    user-select: none;
}
#clicker:active {
    transform: scale(0.95);
}
.upgrades {
    border-left: 5px solid black;
    padding: 20px;
    overflow: scroll;
}
.upgrade {
    width: 100%;
    background: transparent;
    border: 3px solid black;
    color: black;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    display: none;
}
.upgrade:enabled:hover {
    transform: scale(102%);
}
.upgrade:enabled:active {
    transform: scale(98%);
}  

.upgrade:disabled {
    cursor: not-allowed;
    opacity: 0.50;
}
.augment:disabled {
    cursor: not-allowed;
    opacity: 0.50;
}
.augment:enabled:hover {
    transform: scale(102%);
}
.augment:enabled:active {
    transform: scale(98%);
}
li {
    list-style-type: none;
}
h2 {
    text-wrap: nowrap;
}
.info {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.upgrade-head {
    text-align: left;
    font-size: 18px;
}
.cost {
    text-align: left;
    width: 100%;
}
.cps {
    text-align: right;
    width: 100%;
}
.augments {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 30%;
    border-top: 5px solid black;
}   
.store {
    text-align: center;
}
.augments-store {
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
ul {
    padding-inline-start: 0px;
}
.augment {
    width: 300px;
    height: 110px;
    background: transparent;
    border: 3px solid black;
    color: black;
    margin: 5px;
    border-radius: 4px;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}
.augments-store {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 24px;
    height: 30px;
    margin: 5px;
}
.augment-list {
    margin-inline-start: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    margin: 100%;
    padding: 0;
}
.augment-head {
    text-align: center;
    font-size: 18px;
}
#augment-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

#augment-list li {
    display: inline-block;
    margin-right: 10px;
}